<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>StilPlast index page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    </head>
    <body>
    		
        <div class="container my-5 border">
        <h2 class="my-5">Информационный портал СтильПласт.</h2>
        <hr>
            <div class="row">
                <div class="col-md-6">
                		<p class="my-5"><a target="_blank" href="/login/viewOutDoorOrderList?sample=true">Журнал внешних заказов (Образцы)</a></p>
                		<p class="my-5"><a target="_blank" href="/login/viewOutDoorOrder?sort-field=name&sort-dir=asc">Внешние заказы на образцы в разрезе номенклатуры</a></p>
                		<p class="my-5"><a target="_blank" href="/login/viewOutDoorOrderByClient?sort-field=name&sort-dir=asc">Внешние заказы на образцы в разрезе клиентов</a></p>
                </div>
            </div>
        </div>
    </body>
</html>