<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Редактировать цены</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    </head>

	<body>
        <div class="container my-5">
            <h2 class="mb-5">Редактирование цены</h2>
          
            <div class="row">
                <div class="col-md-6">
                    <form action="#" th:action="@{/updPriceColumn/{id}(id=${priceColumn.id})}" th:object="${priceColumn}" method="post">
                        <div class="row">
                            <div class="form-group col-md-6">
								<label for="priceType2Crude.crude.columnName" class="col-form-label">Наименование столбца прайса</label>
								<input type="text" th:field="*{priceType2Crude.crude.columnName}"  readonly/>
								
								<label for="priceType2Crude.crude.directCosts" class="col-form-label">Прямые расходы, руб</label>
								<input type="text" th:field="*{priceType2Crude.crude.directCosts}"  readonly/>

                                <label for="columnCosts" class="col-form-label">Себестоимость, руб</label>
                                <input type="text" th:field="*{columnCosts}" class="form-control" id="columnCosts" placeholder="Себестоимость, руб">
                                <span th:if="${#fields.hasErrors('columnCosts')}" th:errors="*{columnCosts}" class="text-danger"></span>

                                <label for="columnPrice" class="col-form-label">Отпускная цена, руб</label>
                                <input type="text" th:field="*{columnPrice}" class="form-control" id="columnPrice" placeholder="Отпускная цена, руб">
                                <span th:if="${#fields.hasErrors('columnPrice')}" th:errors="*{columnPrice}" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <input type="submit" class="btn btn-primary" value="Сохранить">
                            </div>
                        </div>    
                    </form>
                </div>
            </div>
        </div>
    
	</body>
</html>