<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<script>
		function printDiv(divName) {
			var css = '@page { size: portrait; }',
    			head = document.head || document.getElementsByTagName('head')[0],
    			style = document.createElement('style');

			style.type = 'text/css';
			style.media = 'print';
			
			if (style.styleSheet){
			  style.styleSheet.cssText = css;
			} else {
			  style.appendChild(document.createTextNode(css));
			}
			
			head.appendChild(style);

		    window.print();
		}
	</script>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Заказ клиента.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    </head>
    <body>
       <div th:switch="${viewOneOutDoorOrder}" class="container-fluid">

            <div class="row">
                <div class="col-md-6">
                    <h4 th:case="null">Заказ пуст!</h4>
                    <div th:case="*">
                    <div id="printableArea">
                        <h4 class="my-4">Заказ клиента <span  th:text="${clientName}"></span> №<span th:text="${numberOutDoc}"></span> от <span th:text="${dateOutDoc}"></span>. </h4>
                        <th:block th:if="${sample !=''}">
                        		<h5 class="my-3"><span th:text="${sample}"></span>.</h5>
                        </th:block>		
                        <table class="table table-striped table-responsive-md text-nowrap">
                            <thead class="thead-dark">
                                <tr>
			                        <th>Наименование</th>
									<th>Количество</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="p : ${viewOneOutDoorOrder}">
				                    <td th:text="${p.name}"></td>
									<td th:text="${p.number}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>  
                    </div>                    
                </div>
            </div>
            <input type="button" onclick="printDiv('printableArea')" class="btn btn-primary" value="Распечатать" />
           </div> 

    </body>
</html>