<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<script>
		function printDiv(divName) {
			var css = '@page { size: portrait; }',
    			head = document.head || document.getElementsByTagName('head')[0],
    			style = document.createElement('style');

			style.type = 'text/css';
			style.media = 'print';
			
			if (style.styleSheet){
			  style.styleSheet.cssText = css;
			} else {
			  style.appendChild(document.createTextNode(css));
			}
			
			head.appendChild(style);
		    window.print();
		}
	</script>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Прайс.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    </head>
    <body>
       <div th:switch="${price}" class="container my-5">
       <p th:inline="text">Привет, [[${#httpServletRequest.remoteUser}]]!</p>
        	<div id="printableArea">
            <div class="row">
                <div class="col-md-6">
                    <h2 th:case="null">Список пуст!</h2>
                    <div th:case="*">
                        <h2 class="my-5">Прайс. <span th:text="${priceFilter.sample} ? 'Образцы.' : 'Серия.'"></span></h2>
                        <p class="my-5"><a href="/signPrice" class="btn btn-primary"><i class="fas fa-plus ml-2" ></i>    Добавить наименование</a></p> 
						<form th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}" action="#" th:action="@{${urlBuilder.toUriString()}}" th:object="${priceFilter}" method="post">
							<div class="form-row col-md-auto">
								<label for="sample"  class="form-control-sm">Образцы</label>
								<input class="form-control-sm" type="checkbox" name="sample" th:field="*{sample}" th:value="${priceFilter.sample}" disabled="disabled" />
								<input class="form-control-sm" type="hidden" name="sample" th:value="${priceFilter.sample}">
							</div>
							<div class="form-row col-md-auto">
								<label for="name" class="form-control-sm">Поиск</label>
								<input type="text" class="form-control-sm" th:field="*{name}"/>
								<button type="submit" name="action" value="filter" class="form-control-sm"> >> </button>
							</div>
							<div class="form-row col-md-auto">
                                	<label for="priceType.name" class="form-control-sm">Выбор</label>
								<select  id="priceType" class="form-control-sm" name="priceType" th:field="*{priceType.id}" >
									<option th:each="priceType : ${priceTypes}" th:value="${priceType.id}" th:utext="${priceType.name}"/>
								</select>
								<button type="submit" name="action" value="filter" class="form-control-sm">>></button>
							</div>
							<div class="form-row col-md-auto">					    			
					    			<label for="priceRoot.desc" class="form-control-sm"> Дата прайса </label>
								<select  id="priceRoot" class="form-control-sm" name="priceRoot" th:field="*{priceRoot.id}" >
									<option th:each="priceRoot : ${priceRoots}" th:value="${priceRoot.id}" th:utext="${priceRoot.desc}"/>
								</select>
							</div>
						</form>
                        <table class="table table-striped table-responsive-md text-nowrap">
                            <thead>
                                <tr>
			                        <th>Наименование</th>
			                        <th>Рант</th>
			                        <th>Подкл/Шпал</th>
			                        <th>Вес, кг</th>
			                        <th>Пар/кор.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="p : ${price}">
				                    <td th:text="${#strings.toUpperCase(p.name)}"></td>
				                    <td th:text="${p.bRant} ? 'Да' : ' '" />
				                    <td th:text="${p.bLiner} ? 'Да' : ' '" />
				                    <td th:text="${p.weight}"></td>
				                    <td th:text="${p.number_per_box}"></td>
				                    
                                </tr>
                            </tbody>
                        </table>
                    </div>                      
                </div>
            </div>
            <input type="button" onclick="printDiv('printableArea')" class="btn btn-primary" value="Распечатать" />
           </div> 
        </div>
    </body>
</html>