<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<script>
		function printDiv(divName) {
			var css = '@page { size: landscape; }',
    			head = document.head || document.getElementsByTagName('head')[0],
    			style = document.createElement('style');

			style.type = 'text/css';
			style.media = 'print';
			
			if (style.styleSheet){
			  style.styleSheet.cssText = css;
			} else {
			  style.appendChild(document.createTextNode(css));
			}
			
			head.appendChild(style);
		    window.print();
		}
	</script>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Остатки заказа</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    </head>
    <body>
        <div th:switch="viewOrderByOutDoc" class="container-fluid">
                    <h2 th:case="null">Список пуст!</h2>
                    <div th:case="*">
                    	<div id="printableArea">
                        <h2 class="my-5">Накладная №<span th:text="${numberOutDoc}"></span> от <span th:text="${dateOutDoc}"></span>. <span th:text="${departmentOutDoc}"></span></h2>
                                
                        <table class="table table-striped table-responsive-md text-nowrap">
                            <thead>
                                <tr>
			                        <th>№ Заказа</th>
			                        <th>Клиент</th>
			                        <th>Номенклатура</th>
			                        <th>Заказ, кор</th>
			                        <th>Заказ, пар</th>
			                        <th>Готово, кор</th>
			                        <th>Готово, пар</th>
			                        <th>Остаток, кор</th>
			                        <th>Остаток, пар</th>
			                        <th>Смена, кор</th>
			                        <th>Смена, пар</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="emp : ${viewOrderByOutDoc}">
				                    <td th:text="${emp.order}"></td>
				                    <td th:text="${emp.customer}"></td>
				                    <td th:text="${emp.nomenklature}"></td>
				                    <td th:text="${emp.ordered_box}"></td>
				                    <td th:text="${emp.ordered_pair}"></td>
				                    <td th:text="${emp.done_box}"></td>
				                    <td th:text="${emp.done_pair}"></td>
				                    <td th:text="${emp.rest_box}"></td>
				                    <td th:text="${emp.rest_pair}"></td>
				                    <td th:text="${emp.last_box}"></td>
				                    <td th:text="${emp.last_pair}"></td>
                                </tr>
                            </tbody>
                            <tfoot>
                            		<tr>
                            		 <th>Всего:</th>
			                        <th></th>
			                        <th></th>
			                        <th></th>
			                        <th></th>
			                        <th></th>
			                        <th></th>
			                        <th></th>
			                        <th>За смену:</th>
			                        <th th:text="${lastBoxQuantitySum}"></th>
			                        <th th:text="${lastPairQuantitySum}"></th>
                            		</tr>
                            	</tfoot>
                        </table>
                     </div>
                    </div>    
             <input id="not-print" type="button" onclick="printDiv('printableArea')" class="btn btn-primary" value="Распечатать" />         
       </div>
    </body>
</html>