<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<script>
		function printDiv(divName) {
			var css = '@page { size: landscape; }',
    			head = document.head || document.getElementsByTagName('head')[0],
    			style = document.createElement('style');

			style.type = 'text/css';
			style.media = 'print';
			
			if (style.styleSheet){
			  style.styleSheet.cssText = css;
			} else {
			  style.appendChild(document.createTextNode(css));
			}
			
			head.appendChild(style);
		    window.print();
		}
	</script>
	
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Выборка заказов</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    </head>

  	<body>
    		<div class="container-fluid">
    			<div id="printableArea">
    					<div class="container-fluid">
    						<h2 class="my-2">Выборка заказов</h2>
    						<form action="#" th:action="@{/viewOrder}" th:object="${orderFilter}" method="post">
							<td>

								<label for="dateS" class="col-form-label">Дата начала</label>
									<input type="date" th:field="*{dateS}" />
							</td>
							<td>
								<label for="dateS" class="col-form-label">Дата окончания</label>
									<input type="date" th:field="*{dateE}" />
							</td>
							<td>
								<label for="orderText" class="col-form-label">№ заказа</label>
									<input type="text" th:field="*{orderText}"/>
							</td>
					    		<td>
                                	<label for="division.name" class="col-form-label">Подр.</label>
									<select  id="division" name="division" th:field="*{division.code}" >
										<option th:each="division : ${divisions}" th:value="${division.code}" th:utext="${division.name}"/>
									</select>
					    		</td>
					    		<td>
                                	<label for="client.name" class="col-form-label">Клиент</label>
									<select  id="client" name="client" th:field="*{client.id}" >
										<option th:each="client : ${clients}" th:value="${client.id}" th:utext="${client.name}"/>
									</select>
					    		</td>
							<td>
					    			<button type="submit" name="action" value="filter" class="btn btn-primary">Выбрать</button>
							</td>
						</form>
						<br>
					</div>
    			<table class="table table-striped table-responsive-md">

    				<thead>
		          <tr>
		            <th>Дата</th>
		            <th>№ заказа</th>
		            <th>Подр.</th>
		            	<th>Клиент</th>
		            	<th>Номенклатура</th>
		            	<th>Атрибут</th>	
		            	<th>Заказ,кор</th>
		            <th>Заказ,пар</th>	
		            	<th>Произ,кор</th>
		            <th>Произ,пар</th>
		            	<th>Ост.пр,кор</th>
		            <th>Ост.пр,пар</th>
		            	<th>Отгр,кор</th>
		            <th>Отгр,пар</th>
		            	<th>Ост.отг,кор</th>
		            <th>Ост.отг,пар</th>		            		
		          </tr>
       			</thead>

        			<tbody>
					<tr th:each="order : ${orders}">				
					  <td class="text-nowrap" th:text="${order.sdate}"></td>
					  <td class="text-nowrap" th:text="${order.orderText}"></td>
					  <td th:text="${order.divisionName}"></td>
					  <td th:text="${order.clientName}"></td>
					  <td th:text="${order.nomenklature}"></td>
					  <td th:text="${order.attrib}"></td>
					  <td th:text="${order.countBoxInOrder}"></td>
					  <td th:text="${order.countProdInOrder}"></td>
					  <td th:text="${order.produced_box}"></td>
					  <td th:text="${order.produced_pair}"></td>
					  <td th:text="${order.last_produced_box}"></td>
					  <td th:text="${order.last_produced_pair}"></td>
					  <td th:text="${order.shiped_box}"></td>
					  <td th:text="${order.shiped_pair}"></td>
					  <td th:text="${order.last_shiped_box}"></td>
					  <td th:text="${order.last_shiped_pair}"></td>

					</tr>
        			</tbody>

      		</table>
    			</div>
		<input type="button" onclick="printDiv('printableArea')" class="btn btn-primary" value="Распечатать" />
    </div>

  </body>

</html>