<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>viewClean</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    </head>

  	<body>
    		<div class="container-fluid">
    		
		<h2 class="my-5">Мойка ПУ</h2>
    			<table class="table table-striped table-responsive-md text-nowrap">

    				<thead>
					<tr>
						<form action="#" th:action="@{/viewClean}" th:object="${command}" method="post">
							<td>
								<input type="date" th:field="*{dateS}" />
					    		</td>
							<td>
								<input type="date" th:field="*{dateE}" />
								<button type="submit" name="action" value="filter" class="btn btn-primary">Выбрать</button>
							</td>
							<td>

							</td>
							<td>

							</td>
						</form>
					</tr>
		          <tr>
		            <th>Дата</th>		
		            <th>Бригада, Сотрудник</th>
		            <th>Коробок</th>
		            <th>Пар подошвы</th>		
		          </tr>
       			</thead>

        			<tbody>
					<tr th:each="outdoc : ${outdocs}">				
					  <td th:text="${outdoc.sdate}"></td>
					  <td th:text="${outdoc.comment}"></td>
					  <td th:text="${outdoc.boxNumber}"></td>
					  <td th:text="${outdoc.quantity}"></td>
					</tr>
        			</tbody>

      		</table>

    </div>

  </body>

</html>