<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Наименование и стоимость сырья.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    </head>
    <body>
        <div th:switch="${crudes}" class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h2 th:case="null">Список пуст!</h2>
                    <div th:case="*">
                        <h2 class="my-5">Наименование и стоимость сырья.</h2>
                        <table class="table table-striped table-responsive-md ">
                            <thead>
                                <tr>
			                        <th>Наименование сырья</th>
			                        <th>Наим. колонки прайса</th>
			                        <th>Расценка,вал/кг</th>
			                        <th>Курс,руб</th>
			                        <th>Наценка на себестоимость,руб</th>
			                        <th>Наценка на отпуск.цену,руб</th>
			                        <th>Прямые расходы,руб</th>
			                        <th>Изменение расходов,руб</th>
			                        <th>Изменение отпускной цены,руб</th>
			                        <th>Изменение стоимости ранта,руб</th>
			                        <th class="text-nowrap"> Дата изменения</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="crude_ : ${crudes}">
				                    <td th:text="${crude_.crudeName}"></td>
				                    <td th:text="${crude_.columnName}"></td>
				                    <td th:text="${crude_.crudeCost}"></td>
				                    <td th:text="${crude_.crudeCurs}"></td>
				                    <td th:text="${crude_.crudePlus}"></td>
				                    <td th:text="${crude_.crudeExtra}"></td>
				                    <td th:text="${crude_.directCosts}"></td>
				                    <td th:text="${crude_.copyAddCosts}"></td>
				                    <td th:text="${crude_.copyAddPrice}"></td>
				                    <td th:text="${crude_.copyAddRant}"></td>				                    
				                    <td th:text="${#dates.format(crude_.dateOfLastChange, 'dd-MM-yyyy HH:mm:ss')}"></td>
				                    <td><a th:href="@{/editCrude/{id}(id=${crude_.id})}" class="btn btn-primary"><i class="fas fa-edit ml-2"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>   
                    <p class="my-5"><a href="/singCrude" class="btn btn-primary"><i class="fas fa-plus ml-2" title="Добавить сырье"></i></a></p>                   
                </div>
            </div>
        </div>
    </body>
</html>